name: build

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout Source Code
        uses: actions/checkout@v6
      -
        name: Docker QEmu Setup
        uses: docker/setup-qemu-action@v3
      -
        name: Docker Buildx Setup
        uses: docker/setup-buildx-action@v3
      -
        name: Set lowercase repository owner
        id: repo_owner
        run: echo "owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: github.ref == 'refs/heads/master'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Docker Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          # Only publish new images when building the master branch
          push: ${{ github.ref == 'refs/heads/master' }}
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ steps.repo_owner.outputs.owner }}/nextcloud-cronjob:latest
